<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup page</title>
</head>
<body>
    <h1>Sign up to access URL Shortner</h1>
    <div>
        <form action="/user/signup" method="post">
            <div>
                <label for="name">Enter your Name</label>
                <input type="text" placeholder="Your Name" required name="name">
            </div>
            <div>
                <label for="email">Enter your Emailid</label>
                <input type="text" placeholder="example@gmail.com" required name="email">
            </div>
            <div>
                <label for="password">Enter your Name</label>
                <input type="text" placeholder="password" required name="password">
            </div>
            <button>submit</button>
        </form>
    </div>
    
</body>
</html>